#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	meson setup --prefix=/usr build

override_dh_auto_build:
	ninja -C build

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/skippy-xd ninja -C build install

override_dh_auto_clean:
	-rm -rf build
