#!/usr/bin/make -f

# Variabelen
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
PREFIX = /usr

%:
	dh $@

override_dh_auto_configure:
	meson setup --prefix=$(PREFIX) --libdir=$(PREFIX)/lib/$(DEB_HOST_MULTIARCH) build

override_dh_auto_build:
	ninja -C build

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/skippy-xd ninja -C build install

override_dh_auto_clean:
	ninja -C build clean || true
	rm -rf build
